<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NOTE PAD</h1>
    <a href="http://localhost:3000/createtask">CREATE TASK(s)</a>
    <br>
    <a href="http://localhost:3000/showtasks">SEE TASKS</a>
</body>
</html>