<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Students data profile</h1>
    <% allstudents.forEach((element)=> {
        %>
        <h1>
            <%=element.name%>
        </h1>
        <p>
            <%=element.age%>
                <br>
                <%=element.course%>
        </p>
        <%})%>
</body>

</html>