<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>WRITTEN WITH EJS....user page</h1>
    <h1>name: <%=obj1.name%>
    </h1>
    <p>Roll number :<%=obj1.roll_no%>
    </p>
    <h2>Colour : <%=colour%>
    </h2>
    <% if(obj1.age<18){%>
        <h2>Cannot give vote</h2>
        <%} else {%>
            <h2>Can give vote</h2>
        <%}%>
    <% for ( flag;flag<=20;flag++)
    {%>
        <h2><%=flag%></h2>
    <%}%>
</body>

</html>